@import "bootstrap/bootstrap.less";

.header{
	background-color: @white;
	height: 137px;
	margin-bottom : 31px;

	.logo{
		margin-right: auto;
		margin-left: auto;
		max-width: 940px;

		.part1{
			float: left;
			img{
				padding-top: 8px;
			}
		}
		
		.part2{
			img{
				float: rigth;
				padding-left: 125px;
			}
		}

	}
}